site_name: AffineLab Knowledge Docs
site_description: A knowledge base for sharing insights on selected technical topics. Built with MkDocs.
site_dir: site

theme:
  name: material
  language: en
  features:
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md

plugins:
  - search
  - i18n:
      default_language: en
      languages:
        en:
          name: English
          build: true
        zh:
          name: 中文
          build: true

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - toc:
      permalink: true
