site_name: AffineLab Knowledge Docs
site_description: A knowledge base for sharing insights on selected technical topics. Built with MkDocs.
site_dir: site

theme:
  name: material
  language: en
  features:
    - navigation.sections
    - navigation.instant
    - content.code.copy

theme:
  name: material
  language: zh
  features:
    - navigation.instant

nav:
  - Home: index.md

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - toc:
      permalink: true
